<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="styles.css">
	<title>Поездка на конференцию</title>
</head>
<body>
	<div class="chat">
		<!-- 1. ШАПКА мин высота 50px (может растягиваться до 100px если добавить больше контента) -->
		<header class="chat__header">
		</header>
		<div class="chat__main">
			<!-- 2. БОКОВАЯ ПАНЕЛЬ(Список юзеров) фикс ширина 200px -->
			<aside class="chat__sidebar">
			</aside>
			<!-- 3. ОКНО ЧАТА занимает оставшееся пространство в ширину -->
			<div class="chat__messages">
			</div>
		</div>
		<!-- 4. ПОДВАЛ мин высота 100px (может растягиваться до 200px если добавить больше контента) -->
		<footer class="chat__footer">
		</footer>
	</div>
</body>
</html>